body {
    min-height: 100vh;
    margin:0;
}

.container{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#ffafbd, #ffc3a0);
}

.canvas{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    border: solid 10px #1a2639;
    border-radius: 2%;
}

.screen{
    height: 30%;
    width: 100%;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: flex-end;
    border-bottom: solid 5px #1a2639;
    background-color:  #d9dad7;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.current{
    color:#1a2639;
    padding-right: 15px;
}

/*
.previous,
.current {
    height: 50%;
    width: 100%;
}
*/

.buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 2px;
    background-color: #d9dad7;
}

.row{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.btn{
    height: 100%;
    width: 100%;
    border:0;
    box-shadow: none;
    border-radius: 0px;
    background-color: #3e4a61;
    color: white;
}

#addition{
    background-color: #c24d2c;
}

/*
.current {
    display: flex;
    justify-content: right;
    padding-right: 20px;
    width: 114.234px;
}
*/